<!doctype html>
<html>
    <head>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

        <title>About-Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/components/navbar.css">

    </head>

    <body>
        {% include "components/navbar.html" with context %}
        <script src="static/components/navbar.js"></script>
    </body>
</html>
