<div class='cs-navbar-view-checker'></div>
<div class='cs-navbar cs-navbar-collapsed'>
    <div class='cs-outer'>
        <div class='cs-logo'>
            <img src='assets/logo.png' height=50>
        </div>

        <nav>
            <a href='index.html' >Home</a>
            <a href='sponsors.html' >Sponsors</a>
            <a href='x-cryptus.html' >Xcryptus</a>
            <a href='events.html' >Events</a>
            <a href='about.html' >About-Us</a>
        </nav>

        <a href='registration.html' style='text-decoration: none;'><div class='cs-call-to-action'>REGISTER</div></a>
        <div class='cs-menu-open'>
            <svg id="cs-hamburger" width="48" height="48" viewBox="0 0 48 48" fill="none" stroke="gold" stroke-width="2">
                <path d="M 8 12 h 32"></path>
                <path d="M 8 24 h 32"></path>
                <path d="M 8 36 h 32"></path>
            </svg>
        </div>
    </div>
</div>

<dialog class='cs-hamburger-dialog' style='display: none;'>
    <div>
        <div style='text-align: right;'>
            <svg id="cs-dailog-closer" width="36" height="36" viewBox="0 0 36 36" fill="none" stroke="gold" stroke-width="2">
                <path d="M 18 6 L 6 18 M 6 6 l 12 12" style='color:gold;transform:scale(1.5);'></path>
            </svg>
        </div>
        <nav>
            <a href='index.html' >Home</a>
            <a href='sponsors.html' >Sponsors</a>
            <a href='x-cryptus.html' >Xcryptus</a>
            <a href='events.html' >Events</a>
            <a href='about.html' >About-Us</a>
        </nav>
    </div>
</dialog>
